RewriteEngine on
RewriteCond %{HTTP_HOST} ^dedetizadoraddplim.com.br$ [NC,OR] 
RewriteCond %{HTTP_HOST} ^www.dedetizadoraddplim.com.br$
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]